name: ci

on:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: christophebedard/tag-version-commit@v1
      id: tag-version-commit
      with:
        token: ${{ secrets.TOKEN1 }}
        version_regex: '([0-9]+\.[0-9]+\.[0-9]+)'
        version_tag_prefix: 'V'
        check_entire_commit_message: true
    - run: echo "${{ steps.tag-version-commit.outputs.tag }}"
    -
      name: Checkout
      uses: actions/checkout@v3
    -
      name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    
    -
      name: Build and push
      uses: docker/build-push-action@v4
      with:
        conte xt: .
        file: ./Dockerfile
        push: true
        build-args: [ZXBILD='demo']
        tags: ${{ secrets.DOCKERHUB_USERNAME }}/gitaction:steps.tag-version-commit.outputs.tag