name: Tag and Build

on:
  push:
    branches:
      - main

env:
  TAG_NAME: ""

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set Tag Name and Build Arg
        run: |
          export COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          export TAG_NAME=$(echo $COMMIT_MESSAGE | grep -o 'V=[0-9]\.[0-9]\.[0-9]' | cut -d= -f2)
          export ZXBILD=$(echo $COMMIT_MESSAGE | grep -o 'ENV=^[a-zA-Z ]*$' | cut -d= -f2)
          if [[ ! "$ZXBILD" =~ ^(ENV=dev|ENV=test|ENV=prod)$ ]]; then exit 1; fi
        shell: bash --noprofile --norc -eo pipefail "msys2do {0}"

      - name: Create Tag
        run: |
          git tag -a $TAG_NAME -m $COMMIT_MESSAGE
          git push origin $TAG_NAME

      - name: Build Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: ZXBILD=${ZXBILD}
          push: false
          tags: ${{ env.TAG_NAME }}

      - name: Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: ZXBILD=${ZXBILD}
          push: true
          tags: ${{ env.TAG_NAME }}
          registry: docker.pkg.github.com
          username: ${{ github.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
