name: Tag and Build

on:
  push:
    branches:
      - main

env:
  TAG_NAME: ""

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Set Git default identity
        env:
          GIT_AUTHOR_NAME: ${{ secrets.GIT_AUTHOR_NAME }}
          GIT_AUTHOR_EMAIL: ${{ secrets.GIT_AUTHOR_EMAIL }}
        run: |
          git config --global user.name "$GIT_AUTHOR_NAME"
          git config --global user.email "$GIT_AUTHOR_EMAIL"
          
      - name: Set Tag Name and Build Arg
        id: set_tag_name_and_build_arg
        run: |
          export COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          echo "No tag found in commit message. Skipping tag creation."
          export TAG_PREFIX="V="
          export LAST_TAG=$(git tag -l "$TAG_PREFIX*" | sort -r | head -n1)
          export LAST_VERSION=$(echo "$LAST_TAG" | cut -c $(echo "$TAG_PREFIX" | wc -m)-)
          export TAG_NAME=$(echo "$COMMIT_MESSAGE" | grep -oP "$TAG_PREFIX\K\S+") || true
          if [[ "$TAG_NAME" == "" ]]; then
          else
            if [[ ! "$TAG_NAME" =~ V=[0-9][0-9]?[0-9]?\.[0-9][0-9]?[0-9]?\.[0-9][0-9]?[0-9]?$ ]]; then
              echo "Invalid tag format in commit message. Skipping tag creation."
            else
              if [[ "$TAG_NAME" == "$LAST_VERSION" ]]; then
                export TAG_NAME=$(echo "$TAG_NAME" | awk -F. -v OFS=. '{$3++; print}')-retry
                echo "Tag already exists. Retrying with incremented patch version: $TAG_NAME"
              fi
              export ZXBILD=$(echo "$COMMIT_MESSAGE" | grep -oP 'ENV=\K\S+')
              echo "ZXBILD=$ZXBILD"
              echo "message=$COMMIT_MESSAGE"
              if [[ ! "$ZXBILD" =~ ^(dev|test|prod)$ ]]; then
                echo "Invalid environment value in commit message. Exiting."
                exit 1
              fi
            fi
          fi
        shell: bash

      - name: Create Tag
        if: success() && steps.set_tag_name_and_build_arg.outputs.TAG_NAME != ''
        run: |
          export COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          export TAG_MESSAGE=$(echo $COMMIT_MESSAGE | grep -oP 'created tag name V=[0-9][0-9]?[0-9]?\.[0-9][0-9]?[0-9]?\.[0-9][0-9]?[0-9]?' | tr '[:upper:]' '[:lower:]')
          export TAG_NAME=$(echo $COMMIT_MESSAGE | grep -oP 'V=[0-9][0-9]?[0-9]?\.[0-9][0-9]?[0-9]?\.[0-9][0-9]?[0-9]?' | tr '[:upper:]' '[:lower:]')
          git tag -a $TAG_NAME -m "$TAG_MESSAGE"
          git push origin $TAG_NAME

      - name: Build Docker Image
        if: success() && steps.set_tag_name_and_build_arg.outputs.TAG_NAME != ''
        uses: docker/build-push-action@v2
        with:
          run: |
            docker builder prune --all
          context: .
          build-args: ZXBILD=${ZXBILD}
          push: false
          tags: ${{ env.TAG_NAME }}

      - name: Push Docker Image
        if: success() && steps.set_tag_name_and_build_arg.outputs.TAG_NAME != ''
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: ZXBILD=${ZXBILD}
          push: true
          tags: ${{ env.TAG_NAME }}
          registry: docker.pkg.github.com
          username: ${{ github.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
