name: Create Tag and Build Docker

on:
  push:
    branches:
    - '*'

jobs:
  create-tag-and-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set tag and environment name from ref
      id: set-vars
      run: |
        echo "TAG_NAME=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV
        echo "ENV_NAME=${GITHUB_REF#refs/tags/*/}" >> $GITHUB_ENV

    - name: Check if tag and environment name are defined
      run: |
        if [[ -z "$TAG_NAME" || -z "$ENV_NAME" ]]; then
          echo "Tag name and environment name must be defined in commit message"
          exit 1
        fi

    - name: Create Git tag
      if: success()
      run: |
        git tag "$TAG_NAME"
        git push origin "$TAG_NAME:refs/tags/$TAG_NAME"

    - name: Build Docker image
      if: success()
      uses: docker/build-push-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
        context: .
        push: false
        tags: |
          secrets.DOCKERHUB_USERNAME /gitaction:$TAG_NAME-$ENV_NAME
          secrets.DOCKERHUB_USERNAME/gitaction:$TAG_NAME-latest
        build-args: |
          ZXBUILD=$ENV_NAME
