

name: Tag and Build

on:
  push:
    branches:
      - main

env:
  TAG_NAME: ""
  COMMIT_MESSAGE: ""

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Set Tag Name
        run: |
          export COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          export TAG_NAME=$(echo $COMMIT_MESSAGE | grep -oP 'V=[0-9]\.[0-9]\.[0-9]' | tr '[:upper:]' '[:lower:]')
          echo ${{ env.COMMIT_MESSAGE }}
          echo COMMIT_MESSAGE
        shell: bash

      - name: Create Tag
        run: |
          git tag -a $TAG_NAME -m $TAG_NAME
          git push origin $TAG_NAME

      - name: Set Build Arg
        run: |
          export COMMIT_MESSAGE=$(git log -1 --pretty=%B)
          export ZXBILD=$(echo $COMMIT_MESSAGE | grep -oP 'ENV=^[a-zA-Z ]*$' | tr '[:upper:]' '[:lower:]')
          if [[ ! "$ZXBILD" =~ ^(dev|test|prod)$ ]]; then exit 1; fi
        shell: bash

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v2
        with:
          context: .
          build-args: ZXBILD=${ZXBILD}
          push: true
          tags: docker.pkg.github.com/${{ github.DOCKERHUB_USERNAME }}/gitaction:${{ env.TAG_NAME }}
        env:
          username: ${{ github.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
